[2019-05-15 19:45] 4n4nd opened #1 "Fix memory bloat"
The pandas dataframe for each metric keeps growing infinitely, need to create a rolling data window for the dataframe.
(https://github.com/4n4nd/prometheus-anomaly-detector-2/blob/5dac82f0d43a83b1745b2fe6368f2d1629f4d455/model.py#L23)

[2019-05-15 19:47] 4n4nd opened #2 "Do not use it in a different timezone"
This won't work if the prometheus host and the anomaly detector are hosted in different time zones.
Will fix this later

[2019-05-15 19:53] 4n4nd commented on #2
Edit: it will work, but the predicted values will not be in sync with the real values

[2019-05-16 15:11] 4n4nd opened #3 "Make prediction time and training schedule programmable"
Right now the training schedule and prediction duration is fixed to 15 mins i.e. it will retrain the models every 15 mins and predict values for the next 15 minutes.
Make it configurable

[2019-05-23 14:49] 4n4nd opened #9 "Something similar but to find co-relation between multiple metrics"
Instead of anomaly detector, you could just change the model to find co-relation between a list of metrics passed as a parameter. It might be a completely different application but the base structure is very similar to this one.
The output from this new application would be a heatmap of co-relation values for each metric combination.

[2019-05-23 14:55] durandom commented on #9
yes, subhojit was looking into something similar and there are some notebooks about this somewhere :)

[2019-05-24 19:04] 4n4nd commented on #3
https://github.com/AICoE/prometheus-anomaly-detector/commit/335b635838d030f76cf12254ac179af42a1df6b0

[2019-05-24 19:04] #3 closed

[2019-05-28 13:52] 4n4nd opened #11 "log an error when the metric is not found on prometheus"
Log an error, when the requested metric is not available on prometheus so it just returns an empty list.
Check for empty list, if empty, log it.

[2019-05-28 13:53] 4n4nd commented on #1
Should be fixed in #10

[2019-05-30 14:13] #1 closed

[2019-06-05 14:45] 4n4nd opened #15 "Fourier model bounds problem"
The current calculated value for `yhat_upper` and `yhat_lower` does not give enough importance to the current predicted value. It gives equal importance to all the predicted values, while it should give more weight to the predicted values closer to the current time.

[Here](https://github.com/AICoE/prometheus-anomaly-detector/blob/master/model_fourier.py#L72-L79) instead of the average value,  we

[2019-06-05 17:49] 4n4nd opened #16 "Add a new separate metric for detected anomaly"
Add a new metric timeseries that is 1 in case of an anomaly and 0 when normal

[2019-06-05 19:16] 4n4nd opened #18 "Stream metrics in using rx-py"

[2019-06-05 19:50] durandom opened #19 "create tests"
see how the tests are setup in the log-anomaly-detector.

* create a single small unit test
* add thoth zuul bots

[2019-06-06 15:31] 4n4nd commented on #16
#21

[2019-06-06 15:36] #15 closed

[2019-06-06 15:37] #16 closed

[2019-06-12 16:00] 4n4nd opened #23 "Handle errors where the metric the model was being trained on is no longer available"
Sometimes metrics change, so the metrics that the model was being trained on can change as well. So instead of 503 internal server error, we should catch the exception and display an empty prometheus metric target page

[2019-07-24 19:53] MichaelClifford opened #32 "test_model should log number of anomalies in data set to MLflow"
`test_model.py` should also log the total number of ground truth anomalies as defined by the auto-labeling procedure, the total number of forecasted anomalies, and the total number of data points for a given test set to MLflow. This will give the `True positive rate` value more context when looking at the result of different testing runs.

See the output of cell 5 in the notebook POC for an exampl

[2019-07-24 21:33] hemajv commented on #32
I tried running the test for a metric which was anomalous according to the thoth team and wanted to cross-verify if the Prophet model predicted it as an anomaly as well. Logging this information would be useful

[2019-07-25 12:55] MichaelClifford opened #34 "test_model should give the user ability to define date and time of testing interval"
`test_model.py` should include options that allow a user to dictate the exact start and end time of their testing window.

Current implementation takes rolling data window size in days and the current time automatically. This is an OK default, but we should also give the user the ability to specify specific time periods where they know an anomaly has occurred for testing purposes.

[2019-07-25 13:25] 4n4nd opened #35 "Change how data range input is taken"
@hemajv and @MichaelClifford could you please tell me how you would like to provide the data range input i.e. specifying the training and testing data?

[2019-07-25 13:54] 4n4nd commented on #35
duplicate #34

[2019-07-25 13:54] #35 closed

[2019-07-25 15:01] MichaelClifford commented on #34
To address @4n4nd's request in #35, below are the specific inputs we should add in our `.env` to achieve a user defined time range.

FLT_TEST_START_TIME = " "
FLT_TEST_END_TIME = "  "

These two values will dictate the  `start_time` and `end_time` for the data downloaded when running `test_model.py` :https://github.com/AICoE/prometheus-anomaly-detector/blob/4f942677f347ea9aea122e3aebb4331b070a6ac2

[2019-07-25 15:18] 4n4nd commented on #34
Does it test on all this test data once? or do we specify a training interval?

[2019-07-25 15:25] MichaelClifford commented on #34
So I think we still specify the training interval. It should be the same value as `FLT_ROLLING_DATA_WINDOW`. maybe this could be renamed for clarity? maybe `FLT_ROLLING_TRAINING_WINDOW`?

[2019-07-25 16:18] 4n4nd commented on #34
okay `FLT_ROLLING_TRAINING_WINDOW` sounds good.
`FLT_TEST_START_TIME`
`FLT_TEST_END_TIME`

and maybe `FLT_TRAIN_START_TIME` and `FLT_TRAIN_END_TIME` as well?

[2019-07-25 16:48] MichaelClifford commented on #34
Yes, `FLT_TEST_START_TIME` and `FLT_TEST_END_TIME` should specify the total data used by `model_test.py`.

`FLT_RETRAINING_INTERVAL_MINUTES` should specify the prediction range for the test (how far into the future we will forecast after each retraining) , as it represents how frequently we will retrain the model on the `FLT_ROLLING_TRAINING_WINDOW` timeframe and then make our forecast up to the n

[2019-07-25 18:12] 4n4nd commented on #34
Okay I will add,
* `FLT_DATA_START_TIME`: Data start time
* `FLT_DATA_END_TIME`: Data End time
* `FLT_ROLLING_TRAINING_WINDOW_SIZE`: Training data window size
* `FLT_RETRAINING_INTERVAL_MINUTES`: retraining interval/ forecasting duration

[2019-07-25 18:21] MichaelClifford opened #36 "Fourier model not working with test_model"
Fourier Model crashes when running `test_model.py` due to prediction dataframe and ground truth dataframe being of unequal size.

[2019-07-25 19:38] #36 closed

[2019-07-25 19:39] #32 closed

[2019-07-25 19:59] MichaelClifford opened #38 "Log aggregated performance metrics to MLFlow"
Currently we are only recording the model performance metrics for each training/testing epoch. We should also record the aggregated performance metrics for the entire `test_model.py` run and log to MLFlow.

[2019-07-26 18:29] MichaelClifford commented on #38
should be addressed by #40

[2019-07-29 15:06] MichaelClifford commented on #38
addressed by #40

[2019-07-29 15:06] #38 closed

[2019-07-30 14:52] MichaelClifford opened #41 "test_model should have ability to use local dataset"
Currently the test_mode requires a connection to some Prometheus instance. It would be useful to be able to use a fixed local dataset that did not require Prometheus connection to perform tests.

[2019-07-31 19:51] MichaelClifford opened #43 "Make MetricPredictor and abstract class for other models to inherit from"
Our two current models are both defined as `MetricPredictor` classes. It might make more sense to have `MetricPredictor` as an abstract class, then all specific model predictors inherit from it. This should also make it simpler to add more predictors later on.

[2019-08-12 12:44] Mr-Pluto opened #48 "Can improve the use of documentation"
Can improve the use of documentation

[2019-08-12 16:00] 4n4nd commented on #48
Yeah we can fix up the documentation after some pipeline changes are finalized

[2019-08-13 18:40] 4n4nd opened #49 "Add validation checks for metric_start_time and end_time"
In test_configuration.py, check if metric_start_time and metric_end_time are valid ([here](https://github.com/AICoE/prometheus-anomaly-detector/blob/master/test_configuration.py#L45)).

For example, the end time should not be greater (newer) than the current time.

[2019-08-19 14:20] 4n4nd opened #50 "async is not good enough we need to multi thread/process it"
Async is not the best solution, as while the model trains in the live deployment the prometheus-target does not work. we need to keep the training and the web-page in 2 different threads

[2019-08-19 14:45] 4n4nd opened #51 "Run model training and metrics exporting in two different containers"
This would solve at least a couple of issues:
* #50
* We can just create one exporter for multiple metrics, so we don't have to change scraping targets in the prometheus host often.

The only tricky part is, how do you share the predicted metrics between the model-training container and the metrics exporter?

Possible solutions:
* Maybe we can just store these predicted metrics in s3 and at regula

[2019-08-19 14:53] 4n4nd commented on #51
I think the pushgateway solution would work well when we convert everything to rx streams

[2019-09-13 16:28] #48 closed

[2019-09-17 19:40] 4n4nd opened #61 "Test Issue"
test issue for bots

[2019-09-17 19:41] #61 closed

[2019-09-17 20:06] sesheta opened #62 "can't create 'bot' label"
Please provide permission to the sourceops team with write access to this repository.

[2019-09-17 20:06] sesheta opened #63 "can't create 'approved' label"
Please provide permission to the sourceops team with write access to this repository.

[2019-09-17 20:06] sesheta opened #64 "can't create 'do-not-merge' label"
Please provide permission to the sourceops team with write access to this repository.

[2019-09-17 20:06] sesheta opened #65 "can't create 'do-not-merge/work-in-progress' label"
Please provide permission to the sourceops team with write access to this repository.

[2019-09-17 20:06] sesheta opened #66 "can't create 'work-in-progress' label"
Please provide permission to the sourceops team with write access to this repository.

[2019-09-17 20:06] sesheta opened #67 "can't create 'needs-rebase' label"
Please provide permission to the sourceops team with write access to this repository.

[2019-09-17 20:06] sesheta opened #68 "can't create 'human_intervention_required' label"
Please provide permission to the sourceops team with write access to this repository.

[2019-09-17 20:06] sesheta opened #69 "can't create 'potential_flake' label"
Please provide permission to the sourceops team with write access to this repository.

[2019-09-17 20:06] sesheta opened #70 "can't create 'test:flake' label"
Please provide permission to the sourceops team with write access to this repository.

[2019-09-17 20:06] sesheta opened #71 "can't create 'priority/critical-urgent' label"
Please provide permission to the sourceops team with write access to this repository.

[2019-09-17 20:06] sesheta opened #72 "can't create 'hacktoberfest' label"
Please provide permission to the sourceops team with write access to this repository.

[2019-09-18 15:20] harshad16 commented on #72
@sesheta required: write permission, the issue is now fixed.

[2019-09-18 15:21] harshad16 commented on #71
@sesheta required: write permission, the issue is now fixed.
issue can be closed @4n4nd

[2019-09-18 15:21] harshad16 commented on #70
@sesheta required: write permission, the issue is now fixed.
issue can be closed @4n4nd

[2019-09-18 15:21] harshad16 commented on #69
@sesheta required: write permission, the issue is now fixed.
issue can be closed @4n4nd

[2019-09-18 15:21] harshad16 commented on #68
@sesheta required: write permission, the issue is now fixed.
issue can be closed @4n4nd

[2019-09-18 15:21] harshad16 commented on #67
@sesheta required: write permission, the issue is now fixed.
issue can be closed @4n4nd

[2019-09-18 15:21] harshad16 commented on #66
@sesheta required: write permission, the issue is now fixed.
issue can be closed @4n4nd

[2019-09-18 15:21] harshad16 commented on #65
@sesheta required: write permission, the issue is now fixed.
issue can be closed @4n4nd

[2019-09-18 15:22] harshad16 commented on #64
@sesheta required: write permission, the issue is now fixed.
issue can be closed @4n4nd

[2019-09-18 15:22] harshad16 commented on #63
@sesheta required: write permission, the issue is now fixed.
issue can be closed @4n4nd

[2019-09-18 15:22] harshad16 commented on #62
@sesheta required: write permission, the issue is now fixed.
issue can be closed @4n4nd

[2019-09-18 15:59] #62 closed

[2019-09-18 15:59] #63 closed

[2019-09-18 15:59] #64 closed

[2019-09-18 15:59] #65 closed

[2019-09-18 15:59] #66 closed

[2019-09-18 15:59] #67 closed

[2019-09-18 15:59] #68 closed

[2019-09-18 15:59] #69 closed

[2019-09-18 15:59] #70 closed

[2019-09-18 15:59] #71 closed

[2019-09-18 15:59] #72 closed

[2019-10-09 04:15] 4n4nd commented on #50
Maybe we can create two processes, one to train and update one shared dictionary that stores the predicted metrics and the second process to just publish these predicted values using a simple web server.
info on sharing state between processes [here](https://docs.python.org/3/library/multiprocessing.html#sharing-state-between-processes)

[2019-10-09 04:17] goern commented on #50
@fridex any thoughts?

[2019-10-09 07:33] DirkFries opened #75 "ConfigQuestion "cannot import name 'Metric' from 'prometheus_api_client'""
Hi @all,

while testing this tool I ran into an Syntax Error in a very early stage of testing.

The environment variables were set:

host:~/prometheus-anomaly-detector-master # echo $FLT_RETRAINING_INTERVAL_MINUTES ; echo $FLT_ROLLING_TRAINING_WINDOW_SIZE ; echo $FLT_METRICS_LIST; echo $FLT_PROM_URL
5
1d
up{vsphere_disk_maxtotallatency_latest{host=esx20b}};
http://promhost.domain.de:9090

But if I

[2019-10-09 19:26] 4n4nd commented on #75
I think that means the version of `prometheus-api-client`, installed is not the newest.
This might be an issue on our side, we need to update our Pipfile here.

Until then, can you just install the library directly from source by running:
`pip install https://github.com/AICoE/prometheus-api-client-python/zipball/v0.0.2`

I think this should fix the issue.

[2019-10-10 05:54] fridex commented on #50
@4n4nd I don't have any bigger picture here, so cannot comment on details. In async, there is run one thread/single process which, as you described, might cause issues in your case if you would like to run execution in parallel. Generally speaking, its better to do multiprocessing in contrast to multithreading in python due to [GIL](https://wiki.python.org/moin/GlobalInterpreterLock), but it, of c

[2019-10-10 15:10] 4n4nd commented on #50
@fridex Thanks for your help, I looked into multiprocessing queues and think that they might be a good fit for our architecture. I'll try to implement it and will bug you if I need help :)

[2019-10-21 15:04] #50 closed

[2019-10-21 16:40] 4n4nd commented on #75
@DirkFries The dependencies for this should be updated now, I will close this issue. If you still have any problems please feel free to reopen it.
Thanks

[2019-10-21 16:40] #75 closed

[2019-10-22 13:38] #51 closed

[2019-10-29 05:33] spinnetechnology opened #81 "how to visualization yhat_upper, yhat_lower, original metric value, predicted matric value and the anomaly?"
Dear All,

I am newbie and trying to implement this tools to have prediction on oracle database processes.
Below is my setting:
-------------
My env file:
-------------
FLT_PROM_URL=http://localhost:9090
FLT_METRICS_LIST=oracledb_process_count{instance='localhost:9161'}
FLT_RETRAINING_INTERVAL_MINUTES=15
FLT_ROLLING_TRAINING_WINDOW_SIZE=30D
mlflow_tracking_uri=http://127.0.0.1:5000

I execute foll

[2019-10-29 07:58] 4n4nd commented on #81
Oh so what PAD does is, it starts a new web server on port 8080 and it publishes the results as a Prometheus target. You can just go to http://localhost:8080/metrics and should be able to see the predicted values. The best way to look at the results would be to add http://localhost:8080/metrics as a scraping target to your Prometheus, that way you can can visualize the predicted metrics with the o

[2019-10-29 09:43] spinnetechnology commented on #81
Thanks for your quick response and the information.
I got this information from http://localhost:8080/metrics.

# HELP python_gc_objects_collected_total Objects collected during gc
# TYPE python_gc_objects_collected_total counter
python_gc_objects_collected_total{generation="0"} 30025.0
python_gc_objects_collected_total{generation="1"} 19137.0
python_gc_objects_collected_total{generation="2"} 1186

[2019-10-29 13:46] 4n4nd commented on #81
hmmm this is weird. Can you make sure if this query is correct? oracledb_process_count{instance='localhost:9161'}
It might be that the PAD did not get any metric data to train on

[2019-10-29 13:48] 4n4nd commented on #81
If that doesn't work, try turning on the debug mode by setting FLT_DEBUG_MODE to True

[2019-10-30 09:09] spinnetechnology commented on #81
Thank you very much. You are right, I need to change the parameter from FLT_METRICS_LIST=oracledb_process_count{instance='localhost:9161'}
to
oracledb_process_count{instance="10.255.20.69",job="oracle-short01"}
and
add metric on Prometheus.yml for ternado.
so. I just put original metrics from Prometheus and from tornado on grafana. Incredible it work.

Big thanks for u.

[2019-10-30 09:09] #81 closed

[2019-12-18 15:45] P6rguVyrst opened #89 "Add LICENSE"
I might be interested in contributing to the project, but as long as this project doesn't have a LICENSE, I can not do so.
Can you please add LICENSE file in this repo so terms and conditions of using this code would be clear.

[2019-12-20 11:42] durandom commented on #89
@P6rguVyrst absolutely

@4n4nd / @hemajv please add the same license files as in the log-anomaly-detector

[2019-12-23 10:23] rakeshostwal opened #92 "Getting AttributeError: Can't pickle local object 'BaseAsyncIOLoop.initialize.<locals>.assign_thread_identity' error"
When I am trying to run this project by setting up given parameters in the configuration document, I am getting the following error:

`
2019-12-23 14:51:57,447:INFO:configuration: Metric data rolling training window size: 2 days, 23:59:59.937040
2019-12-23 14:51:57,448:INFO:configuration: Model retraining interval: 120 minutes
2019-12-23 14:51:58,738:ERROR:fbprophet: Importing plotly failed. Inter

[2019-12-26 13:16] #92 closed

[2019-12-26 13:16] rakeshostwal commented on #92
This was coming due to the Conda configuration. Solved now.

[2020-01-08 15:34] #89 closed

[2020-01-10 12:20] DirkFries opened #96 "ImportError: No module named prometheus_api_client.utils"
Hi @all,

while trying to get the latest version running I encountered an error:

[code]

Same happens when I try to test my configuration:

[code]

Has anyone an idea what's wrong ?

Bye, Dirk

[2020-01-10 12:23] DirkFries opened #97 "SyntaxError: invalid syntax File "app.py", line 68"
Hi @all,

while trying to get started with the latest version I encounterd the following error:

host:~/prometheus-anomaly-detector-master # python app.py
  File "app.py", line 68
    async def get(self):
            ^
SyntaxError: invalid syntax

Maybe this one could somehow be connected to https://github.com/AICoE/prometheus-anomaly-detector/issues/96 but I am not quite sure, so I filed 2 sepera

[2020-01-15 07:56] durandom commented on #96
Did you install all dependencies via `pipenv install` ?
Maybe try to run via `pipenv python test_model.py`

[2020-01-15 07:57] goern commented on #97
Heya, thanks for the issue. could you pls let us know what version of python you use?

[2020-01-15 08:35] DirkFries commented on #96
Hi durandom,

thanks for the hint. My machine as some pretty old Python 2.7 installed and in the with your suggestion I found out, that Python 2.6 is required.

Thanks a lot !

[2020-01-15 08:35] #96 closed

[2020-01-15 08:36] DirkFries commented on #97
Hi goern,

I am using Python 2.7 and I just found out, that Python 3.6 is required.
So I'm going to set up a new machine to get started with this pretty interesting project :-)

Thanks a lot!

[2020-01-15 08:36] #97 closed

[2020-01-25 10:19] lubomir opened #99 "Please publish DevConf material"
Can you please publish material from this workshop?
https://devconfcz2020a.sched.com/event/YOnn/i-see-metrics-anomaly-detection-on-openshift

[2020-02-07 15:51] 4n4nd commented on #99
Hey the material can be found here: https://github.com/hemajv/prometheus-anomaly-detection-workshop

[2020-02-11 10:24] DirkFries opened #100 "specified chunk_size is too big"
Hi @all,

while trying to make my first steps I'm encountering an "specified chunk_size is too big" Error, but I have no idea what chunk is acutally ment by this error message an where/how I could tune this.

host:~/pad/prometheus-anomaly-detector-master # python test_model.py
2020-02-11 11:16:24,602:INFO:test_configuration: Metric train data start time: 2020-01-01 18:00:00
2020-02-11 11:16:24,603

[2020-02-11 11:17] 4n4nd commented on #100
Hey, I think the problem is that the test data end time has an earlier date than the test data start time.
`Metric test end time: 2019-08-08 18:00:00` and `Metric train data end time/test data start time: 2020-01-06 17:59:59.952249`

[2020-02-11 11:18] 4n4nd commented on #100
but that error message could be a lot more informative

[2020-02-11 13:09] DirkFries commented on #100
Hi Anand

thanks a lot. Your hint was right on the spot :-)
I thought that I only need a FLT_DATA_START_TIME and a FLT_ROLLING_TRAINING_WINDOW_SIZE, but it looks I have to re-read the documentation again.

Talking about documentation. I couldn't find any configuration examples or in depths documentation, except the bit on the projectpage here on github. Do you have some sources for more informatio

[2020-02-11 19:48] 4n4nd commented on #100
Hey sorry about this but the README is the only documentation we have right now.
Maybe you can find more information about the configuration in the [test_configuration.py](https://github.com/AICoE/prometheus-anomaly-detector/blob/master/test_configuration.py#L16), and if that doesn't work out for you just create more issues and we will try to help you out.

[2020-02-12 07:36] DirkFries commented on #100
Ok, good to know :-)
Thanks again !

[2020-02-12 07:36] #100 closed

[2020-02-12 09:52] DirkFries opened #102 "ValueError: Can only compare identically-labeled Series objects"
Hi @all,

during my first steps I am encountering the following error:

Optimization terminated normally:
  Convergence detected: relative gradient magnitude is below tolerance
2020-02-12 10:33:36,558:INFO:model: training data range: 2020-01-15 16:00:09.177000046 - 2020-01-20 15:59:09.177000046
Initial log joint probability = -8.28816
    Iter      log prob        ||dx||      ||grad||       alpha

[2020-02-12 15:15] hemajv commented on #102
Hey,
so when you compare two DataFrames using `np.where()`, you must ensure that the number of records in the first DataFrame matches with the number of records in the second DataFrame. Can you please print out your `true_value_df` and `predicted_value_df`?

[2020-02-13 08:00] DirkFries commented on #102
Hi hemajv,

thanks a lot for your comment. I have to admit that I am a complete newbie to Prometheus Anomaly Detector and all I got as documentation is the readme file here at github.

I started the run with the following options:

[code]

Where can I configure `np_where()` or check true_value_df and `predicted_value_df`

Thanks!

Bye, Dirk

[2020-02-13 15:49] #99 closed

[2020-02-13 18:47] 4n4nd commented on #102
This should be in your `test_model.py`
You can do this by adding the following statement at [line 47](https://github.com/AICoE/prometheus-anomaly-detector/blob/master/test_model.py#L47):
[code]

[2020-02-14 08:37] DirkFries commented on #102
Hi @all,

I tried Anand's suggestion and I get indeed much more output (.. although I have to admit I don't really understand it ... )

[code]

[2020-02-14 13:12] 4n4nd commented on #102
so the y column is your real value and the yhat is the predicted value. yhat_upper and yhat_lower are the upper and lower bounds of your prediction. Hema just fixed this issue in her PR, can you please try again with the latest commit?

Thanks!

[2020-02-17 07:57] DirkFries commented on #102
Hi Hema and Anand,

the command works now perfectly.
Thanks a lot ! :-)

Bye, Dirk

[2020-02-17 07:57] #102 closed

[2020-02-17 09:59] DirkFries opened #106 "Predicted values back to Prometheus ?"
Hi @all,

from the diagram that shows how prometheus-anomaly-detector works in combination with other tools it looks like predicted values can be fed back to Prometheus and visualized with Grafana.

Is there already a working way to get the metrics back to Prometheus? If yes - how can it be done ?

Bye, Dirk

[2020-02-17 16:25] 4n4nd commented on #106
Yeah, when you run the app.py, it starts a web server. You can just go to your_ip:8080/metrics to see the predicted metric values.

[2020-02-18 06:30] DirkFries commented on #106
Well you couldn't make it easier but still I was looking for some configuration option to get a text file or something like that.
Tested and works like a charm!

Thanks a lot !

[2020-02-18 06:30] #106 closed

[2020-02-18 06:59] DirkFries opened #107 "Store trained models on disk?"
Hi @all,

as far as I know trained models are not stored on disk after if the software is shut down. So after a restart all models have to be trained again. Depending on timerange und number of metrics this can take hours.

Maybe it would be a nice additional feature to add the possibility if saving trained models.

Bye, Dirk

[2020-02-18 07:02] DirkFries opened #108 "Make use of cores?"
Hi @all,

while training the model PAD seems to make use of only one core.
I think it would be a nice feature if PAD could use more cores by making use of multithreading or mutiple processes to speed things up.

Bye Dirk

[2020-02-20 18:22] 4n4nd commented on #107
it doesn't really make sense for a model like prophet as once the model has been trained, it cannot be retrained. So you essentially have to train it again from scratch.

[2020-02-20 18:30] 4n4nd commented on #108
Right now the app uses 2 processes, 1 to train the model and 1 for the tornado web server that exposes the predicted metrics. The resources that the model uses for training are fixed by prophet.
Please correct me if I am wrong, but Prophet is not multi-processed

[2020-02-21 08:37] DirkFries commented on #108
Hi Anand,

maybe I should point out what use case I have in mind.

Let's say you got a metric called vsphere_cpu_usage_maximum and you have 1200 Virtualmachines with this metric, each identified by a uniq name tag (e.g. name="vm1", name="vm1", name="vm3").
If you start PAD with FLT_METRICS_LIST="vsphere_cpu_usage_maximum" it will start to train the model sequential for vm1, then vm2, vm3 etc. usin

[2020-02-21 08:39] DirkFries commented on #107
Ok, I think you are right :-)
Thanks a lot!

[2020-02-21 08:39] #107 closed

[2020-02-21 16:07] 4n4nd commented on #108
Oh yes, that seems like a very good idea. We never thought of that since we almost always use it in a container (Kubernetes/Openshift) environment with a single core of CPU assigned to it.

Also, the idea behind PAD was that you should be able to replace the model.py with your own model. Now, if your model is multithreaded/multiprocessed, it would not make sense to spawn multiple training processe

[2020-02-26 09:20] DirkFries commented on #108
Hi Anand,

thanks a lot! I will try to do a work around with some wrapper script.
model.py sounds like an interesting file to look at is the near future.

Bye Dirk

[2020-02-26 09:20] #108 closed

[2020-02-27 05:09] nandhyala opened #110 "Not able see predication metrics on prometheus Graph."
I have followed below document i setup prophet on EC2 machine  and pulling metrics(FLT_METRICS_LIST)  from prometheus end point(FLT_PROM_URL) and some how i dont see any result on predication metrics reports with prophet predication.

I see below continues below  o/p on prophet machine. Can you please some one help on this ?

  "Convergence detected: relative gradient magnitude is below tolerance

[2020-02-27 10:22] 4n4nd commented on #110
In your Prometheus targets list, can you check if it was successfully able to scrape the anomaly-detector?

[2020-02-27 17:59] nandhyala commented on #110
@4n4nd Thanks Anand Sanmukhani ,In Prometheus targets list dash board i dont see any anomaly-detector entire .

python3 app.py script i see  yhat  yhat_lower  yhat_upper values but same thing i am not seeing Prometheus.Please help on this issue.

" 2020-02-27 17:55:53,751:DEBUG:prometheus_api_client.prometheus_connect: start_time: 2020-02-27 17:53:53.754119
2020-02-27 17:55:53,751:DEBUG:prometheus

[2020-02-27 20:55] 4n4nd commented on #110
Can you please visit the metrics page in your browser?
i.e. `http://prom_anomaly_detector_address:8080/metrics` and check if you can see the predicted metrics.
If you can see the predicted metrics there, can you check if your prometheus instance is configured to scrape the anomaly detector properly?
You might need to add the anomaly detector's address in the the prometheus config some helpful docs

[2020-02-28 05:53] nandhyala commented on #110
Thanks @4n4nd  helping me on this issue.

1)http://172.xx.x.xx:8080/metrics -->I dont see any predicted metrics on page.
2) Can you please help me how can i add anomaly detector's address in the the prometheus config .Sorry ,I am not able make using attached document https://prometheus.io/docs/prometheus/latest/getting_started/#configuring-prometheus-to-monitor-the-sample-targets.
3)We are running

[2020-02-28 08:25] 4n4nd commented on #110
We recently added new annotations to the `Service` object ([here](https://github.com/AICoE/prometheus-anomaly-detector/blob/master/openshift/oc-deployment-template.yaml#L123-L125)), Can you please try using the updated template for the Anomaly detector service?

This might not work if Prometheus has been deployed in a different namespace than the prometheus anomaly detector. If that's the case you

[2020-02-28 08:31] 4n4nd commented on #110
Can you check if you have the prometheus-anomaly-detector service exposed?
If not, you can do it by using `kubectl expose anomaly_detector_service_name -n namespace_where_deployed`

[2020-02-28 21:56] nandhyala commented on #110
@4n4nd ,Sorry to ask you ,here what target value - targets: ['route_to_anomaly_detector'] host we need to update on Prometheus configuration on kubernetes  ?

[2020-02-28 21:57] 4n4nd commented on #110
Is the Prometheus hosted in the same namespace as the anomaly detector?

[2020-02-28 22:04] nandhyala commented on #110
@4n4nd ,

Just i want explain how i am doing here to come up both are in same page.

1)My prometheus/grafana are running on Kubernetes cluster and collecting application metrics .
2)For prometheus application created ALB end point on cluster.
3)On AWS EC2 machine have installed prophet required rpm's.
4) Downloaded repo https://github.com/AICoE/prometheus-anomaly-detector.git on EC2 machine.
5) ex

[2020-02-28 22:14] 4n4nd commented on #110
This application starts a web server and exposes metrics on port 8080.
After step 5, I think you need to create an ALB endpoint for the anomaly detection application, just like prometheus. Then you might get a url similar to http://axxxxxxxx.elb.eu-west-1.amazonaws.com which you can use in the prometheus config.
Sorry I don't have much experience with AWS EC2. If you can, use the deployment config

[2020-02-28 23:03] nandhyala commented on #110
@4n4nd ,That means i need to create load balancer on EC2 machine app.py script is running ?

[2020-02-28 23:06] 4n4nd commented on #110
Yes, because prometheus needs some kind of address that it can use to reach the anomaly detector.

[2020-02-28 23:07] nandhyala commented on #110
got it @4n4nd ,I will create ALB on ec2 machine .

[2020-02-28 23:07] 4n4nd commented on #110
you can test if the app is working by curling its ip inside the EC2 instance.

`curl localhost:8080/metrics` from inside the EC2 instance

[2020-02-28 23:08] nandhyala commented on #110
[root@ip-xxxx~]# curl localhost:8080
# HELP python_gc_objects_collected_total Objects collected during gc
# TYPE python_gc_objects_collected_total counter
python_gc_objects_collected_total{generation="0"} 20471.0
python_gc_objects_collected_total{generation="1"} 16370.0
python_gc_objects_collected_total{generation="2"} 896.0
# HELP python_gc_objects_uncollectable_total Uncollectable object found d

[2020-02-28 23:09] 4n4nd commented on #110
exactly, these are your predicted values.
But the prometheus needs to be able to access this page from the outside.

[2020-02-28 23:11] nandhyala commented on #110
one more question on prediction values ,I see only yhat & yhat_lower & yhat_upper but i dont see predicted metrics value ...In repo exmaple graph i see predicted metrics value line.

[2020-02-28 23:12] 4n4nd commented on #110
`yhat` is the predicted value.
`yhat_upper` is the upper bound
`yhat_lower` is the lower bound

[2020-02-28 23:15] nandhyala commented on #110
Really Thank you very much @4n4nd  helping me on step .I will create alb & will place new alb in Prometheus config file and will test.If still i face any issues i will update here.

[2020-02-28 23:16] 4n4nd commented on #110
Once you create the endpoint, check it with curl if it is accessible

[2020-02-28 23:16] nandhyala commented on #110
Sure @4n4nd

[2020-02-28 23:28] 4n4nd opened #111 "Would people be interested in Kubernetes deployment templates?"
Currently we only have deployment templates for openshift, should we also add native kubernetes templates so its easier for users to deploy PAD in kubernetes environments?

i.e. Deployment instead of DeploymentConfig, Ingress instead of Route

I think this way more people will be able to use it.
@hemajv @durandom @goern suggestions?

[2020-02-28 23:38] nandhyala commented on #110
I think i no ALB I am able to get anomaly detector metrics  using ec2 http://host-ip:8080 from my prometues pods servers.Just I will place http://host-ip:8080 on prometheus config and test.

[2020-02-28 23:39] 4n4nd commented on #110
good idea :+1:

[2020-02-28 23:58] nandhyala commented on #110
@4n4nd ,Now i am able to see prophet yhat & yhat_lower & yhar_upper metrics on prometues dash board. But i dont have enough data to do training ...Once i have data by next week on cluster application i will run and see prediction .

Thanks you once again for your help on here ...May be i will reach out you if i need any help on prediction with my data :)

[2020-02-29 00:01] 4n4nd commented on #110
No problem 👍
Do you want to close this issue then?

[2020-02-29 00:04] nandhyala commented on #110
yes @4n4nd we can close this issue

[2020-02-29 00:04] #110 closed

[2020-03-01 18:24] nandhyala opened #112 "yhat & yhat_lower & yhat_upper prediction values is not accurate with current original values."
@4n4nd ,

I am plaining to use yhat value todo Kuberentes pod autoscaling (at peak time it will scale up 1000 + pods) using Prometheus original metrics (container_cpu:container_cpu_usage_seconds_total:rate) as  prediction yhat values in HPA.

I have passed below variables on prophet application node and started app.py.

export FLT_PROM_URL=http://xxxxxxx.amazonaws.com
export FLT_RETRAINING_INTERVA

[2020-03-01 18:26] nandhyala commented on #112
![Screen Shot 2020-03-01 at 10 06 30 AM](https://user-images.githubusercontent.com/36256194/75631367-249a9d00-5ba7-11ea-9735-63f461253e6f.png)

[2020-03-02 14:19] 4n4nd commented on #112
I have attached grafana dashboaard screen shot here.
Green bar is :container_cpu:container_cpu_usage_seconds_total:rate:sum
Sky blue bar is : yhat
Red Bar is : yhat_upper
Orange Bar is :yhat_lower
Bottom Bar is : Anomaly detector.
Can you please help what i am doing wrong on above ,Can you please review and let me know how can i fix ?

Hey I don't really get what isn't working. To me it looks like

[2020-03-02 17:43] nandhyala commented on #112
@4n4nd ,

I dont see any issue with setup i see the yhat & yhat_lower & yhat_upper prediction values on prometheus but some how i see lot of difference between original values and  yhat & yhat_lower & yhat_upper .

![Screen Shot 2020-03-02 at 9 41 52 AM](https://user-images.githubusercontent.com/36256194/75702416-50328b80-5c6a-11ea-84fe-17004c1eb814.png)

See attached screen shot in below:
**Green

[2020-03-02 19:56] 4n4nd commented on #112
That seems to be doing well

Or you can try giving the model more data,
`export FLT_ROLLING_TRAINING_WINDOW_SIZE=30d`

and I don't think you need to retrain your model every minute,
`export FLT_RETRAINING_INTERVAL_MINUTES=15`

This will look at the past 30 days of data and retrain the model every 15 minutes.

Hope this is helpful, otherwise you can try tweaking the model.py which is from https://f

[2020-03-02 20:59] nandhyala commented on #112
Sure @4n4nd I will try with below values ..Just i want let you know we have only last 4 days data in prometheus and see below screen shot i see lot of differences between original values & yhat's.

![Screen Shot 2020-03-02 at 9 41 52 AM](https://user-images.githubusercontent.com/36256194/75717264-a4973480-5c85-11ea-9147-4f3ad75ae6f9.png)

Green bar is : original container_cpu:container_cpu_usage_s

[2020-03-04 14:23] saisankargochhayat opened #113 "Kebechet info"

[2020-03-04 21:30] 4n4nd commented on #112
let the anomaly detector collect a few days of data and then see if the predictions improve

[2020-03-04 21:37] 4n4nd commented on #112
It should keep accumulating the data until it has 30 days of data.

[2020-03-04 21:41] hemajv commented on #112
@nandhyala By default, the model being trained is the Prophet model. You can also try training the Fourier model by importing the `model_fourier.py` in your `app.py`  and compare between the two. As @4n4nd mentioned, due to the small amount of training data you have, it might be affecting the model's performance.

[2020-03-04 21:51] 4n4nd commented on #113
@saisankargochhayat something you need help with?

[2020-03-05 05:01] nandhyala commented on #112
@4n4nd  @hemajv  , Really appreciate your help ! Now i am running app.py script from 4days and in progress and dont see much yhat & yhat_upper & yhat_lower values with original values.

Can you please confirm we cant predict or  training data with 1 week of data using prophet ?
![Screen Shot 2020-03-04 at 9 00 34 PM](https://user-images.githubusercontent.com/36256194/75949514-563b8e80-5e5b-11ea-9a

[2020-03-05 17:04] saisankargochhayat commented on #113
@4n4nd  I think kebechet is not working on this repo, could you please check if @sesheta is added as a collaborator?

[2020-03-05 17:16] 4n4nd commented on #113
I thought @harshad16 did provide write access to Sesheta [here](https://github.com/AICoE/prometheus-anomaly-detector/issues/72)

[2020-03-05 19:18] saisankargochhayat commented on #113
@fridex We have this repo in our `AICoE.yaml` config, somehow its not visiting this repo?

[2020-03-05 19:24] fridex commented on #113
You can check logs in the aicoe-prod-bots namespace. There is a separate bot "kebechet-aicoe" handling just aicoe specific repositories.

[2020-03-05 20:21] saisankargochhayat commented on #113
The logs say -
`  File "/home/user/kebechet/managers/update/update.py", line 99, in _get_dependency_versionf"Failed to retrieve version information for dependency {dependency}, (dev: {is_dev})")kebechet.exception.InternalError: Failed to retrieve version information for dependency prometheus_client, (dev: False)`

The problem seems to be, in from Pipfile we are taking `prometheus_client`, where as

[2020-03-05 20:42] fridex commented on #113
This is related to Python package names normalization done in Pipfile/Pipefile.lock. Pipfile here states unnormalized package names (as provided by users), but Pipfile.lock states its normalized names.

Check PEP-503 and https://github.com/thoth-station/kebechet/issues/209

[1] https://www.python.org/dev/peps/pep-0503/#normalized-names

[2020-03-09 16:23] hemajv commented on #112
@nandhyala I can see that few anomalies were detected. Since the `anomaly` is a 0 or 1 value, try increasing the scale for the 'anomaly' line (i.e. the orange line) on the graph so that you can visualize it better. You can predict on training data of 1 week, but the performance of the model may be better with more training data.

For training the Fourier model, change https://github.com/AICoE/prom

[2020-03-09 18:42] nandhyala commented on #112
Thanks @hemajv  ,I will check with 2 weeks data and come back if i see same issues.

Parallel i will check model_fourier as per above link and let you know.

[2020-03-09 19:01] nandhyala commented on #112
@hemajv ,

Any idea why it is failing ata line 37 with below error after adding import model_fourier as model.

[root@ip-xxxxx prometheus-anomaly-detector]# python3 app.py
2020-03-09 18:59:45,080:INFO:configuration: Metric data rolling training window size: 1 day, 23:59:59.950370
2020-03-09 18:59:45,080:INFO:configuration: Model retraining interval: 2 minutes
2020-03-09 18:59:45,084:DEBUG:urllib3.

[2020-03-09 20:47] goern commented on #34
heya, what needs to be done to close this?

[2020-03-10 19:15] sesheta commented on #113
Information about dependency management for the current master branch with SHA 125c1fd4a8065cbeb900237f1ff0edbb35ddf7ab.

<details>
  <summary>Dependency graph</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

[2020-03-10 19:15] #113 closed

[2020-03-10 21:02] nandhyala commented on #112
@hemajv ,

I have tried with model_fourier with 2 days data but i dont see much improvement . Below original  &  fouier metrics graph in grafana.

![Screen Shot 2020-03-10 at 2 00 32 PM](https://user-images.githubusercontent.com/36256194/76359068-c2911480-62d7-11ea-9b33-1682e6e4f8b3.png)

[2020-03-11 08:02] DirkFries opened #114 "IndexError: list index out of range"
Hi @all,

I run several PAD instances with different configuration on different tcp ports as a standalone process, started by systemd. Basically everything works fine. But from time to time a process gets this error:

2020-03-11T08:46:03.421065+01:00 host pad[1761]: HTTPServerRequest(protocol='http', host='192.168.1.2:8088', method='GET', uri='/metrics', version='HTTP/1.1', remote_ip='192.168.1.1'

[2020-03-11 14:13] hemajv commented on #112
@nandhyala So this is one of the drawback with Fourier, it is more of a statistical extrapolation of the values vs the Prophet model which takes into account seasonality or trend in your data. One model may perform better than the other depending on the nature of the time series metric. I would still recommend collecting at least > 2 weeks of data and re-training the Prophet/Fourier models.

[2020-03-11 20:55] nandhyala commented on #112
Thanks @hemajv ,I will check same Prophet/Fourier models. once i get 2 weeks data.

[2020-03-19 12:51] DirkFries opened #115 "PAD crashes with Uncaught exception"
Hi @all,

I experienced another crash of PAD today. In my case PAD is running as a standalone daemon.
At first here's the output of the logfile:

2020-03-19T10:44:00.815701+01:00 PAD-Host cluster[22092]: Initial log joint probability = -5.45429
2020-03-19T10:44:00.816176+01:00 PAD-Host cluster[22092]:     Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
2020-0

[2020-03-19 13:41] 4n4nd commented on #115
Can you run it with the `FLT_DEBUG_MODE` env var set as `True`? This will give us a bit more verbose log which might be helpful.

[2020-03-19 13:52] DirkFries commented on #115
Hi Anand,

sure :-)
I have about 18 different processes running and right now I'm just recognising an error if I see a Flatliner in Grafana. So I can't tell when this will happen again, but I surely keep an eye on it.

Bye, Dirk

[2020-03-19 13:53] 4n4nd commented on #115
Thanks :+1:

[2020-03-20 09:56] DJMatus23 commented on #111
I'm planning to spend some time trying to run this in Kubernetes.  I'm planning on just using kustomize, but I'd be happy to help get a helm chart together for it, assuming I can get it working. 🤞

[2020-03-23 08:38] DirkFries commented on #115
HI Anand,

during the weekend PAD crashed again:

Extract from logfile:

[code]

The main process as PID 1727 and the cild process 13979

So this time I checked what the processes were doing:

[code]

To me it looks like 1727 is completly waiting for 13979.

Unfortunaly I could not understand what 13979 was doing:

[code]

I hope this helps.
Maybe the crash is related to https://github.com/AICoE/p

[2020-03-26 03:05] 4n4nd commented on #115
Haha I have never seen this process log before so I have no idea what's going on here.
[code]
But from the above log, I think the error is when the PAD tries to collect the current real metric value from prometheus and the prometheus server returns a 503. (PAD does this to compare the real value with the predicted value to see if the real value is anomalous.)

I think the process 13979 is the torn

[2020-03-26 03:07] 4n4nd commented on #115
But this also makes me think that PAD should be able to recover from an error like this. i.e. one bad scrape shouldn't break the app

[2020-03-26 07:05] DirkFries commented on #115
Hm,

I interpreted the 503 so that it's not from the prometheus server but the Tornado Webserver of PAD. At the moment I scrape PAD every minute. I will try what happens if I change this to 5 minutes.
Nonetheless, it will still be possible to scrape PAD in the wrong second or that the prometheus server has a temporary problem. I too think, that this shouldn't stop PAD. In fact it does not stop PAD

[2020-04-01 09:08] DirkFries commented on #115
After changing the scrape intervall to 5 minutes PAD keeps crashing. About 2-3 processes of my 18 running processes are crashing within a 24 hours period.
Is there another way to export the output so that it would not be necessary to query the tornado webserver and let e.g. telegraf publish the results ?

[2020-04-01 16:13] 4n4nd commented on #115
oh i didn't know about [telegraf](https://github.com/influxdata/telegraf) that seems like an interesting project. I will look into it, if we are able to use it as an exporter that would be great. It would make this project a lot simpler too.
Also, i am sorry but I (and the whole team) have been busy with other work so I can't really research into this rn. Maybe you or someone else could look into

[2020-04-02 09:09] DirkFries commented on #115
Hi Anand,

yes via telegraf at least the output could even be imported not just in Prometheus but also InfluxDB, Graphite and many more.

I'd really like to help and you support PAD because I think that it is a great addition to the Prometheus Ecosystem, but unfortunaly I am no software developer and I know pretty nothing about Python - Sorry :-(

[2020-04-07 08:34] ankit864 opened #122 "can't pickle _thread.lock objects"
issue is happening when queue (multiprocessing.queue) is being used for train model function

below is error

` ForkingPickler(file, protocol).dump(obj)
TypeError: can't pickle _thread.lock objects`

[2020-04-10 20:31] yeswanthkaali commented on #122
Change the python version to higher or lower it worked for me.https://lists.gt.net/python/bugs/1299839

[2020-04-13 11:22] ankit864 commented on #122
thanks @yeswanthkaali , I had this  python issue in my knowledge as i was trying to troubleshoot, but I was running on macos  with  python 3.7 it was throwing bad file descriptor error  while accessing queue.

so for workaround i used normal Queue instead of python MP queue but with thread not as multiporcess because normal queue cant be shared between process

But in ubuntu with python37 it is  r

[2020-04-14 11:59] #122 closed

[2020-05-11 12:08] nathwani2018 commented on #115
@4n4nd and @DirkFries , I have been trying to implement the PAD with very limited metrics in my case it's 3 only but still after running for couple of days it's crashing. i am getting the same error as mentioned by @DirkFries.  Can you please provide your valuable suggestion on the same.

Snippet :-

10.185.0.25:8080 -->  PAD Ip where tornado is running.
10.185.0.177 -->Prometheus Ip .

2020-05-11

[2020-05-11 12:13] DirkFries commented on #115
Hi nathwani2018

I'm not quite sure what suggestion you mean?
To be honest I'm pretty stuck with this issue, too

[2020-05-11 12:20] nathwani2018 commented on #115
@DirkFries , I mean to say did you guys get any workaround for this issue then you can throw some lights and help me also to overcome from this issue.

[2020-05-11 12:24] DirkFries commented on #115
Hi nathwani2018,

I would really like to help you with this issue, but I am stuck, too.
Sorry :-(

[2020-05-12 16:25] 4n4nd commented on #115
Hey folks, could you please post your configurations here?
I will try to replicate the issue

[2020-05-13 08:11] nathwani2018 commented on #115
@4n4nd , Thanks for your reply. I am using all the default configuration expect the below two config param. Please let me know if you need anything else.
FLT_PROM_URL :-  I am using thanos so i am using my quearier enpoint to fetch metrics.
FLT_METRICS_LIST :- I am using our application metrics with semicolon separated.

[2020-05-13 08:21] DirkFries commented on #115
Hi Anand,

this is great news :-)

Here is an example of one of my configs:

[Service]
Environment="FLT_PROM_URL=http://prometheus.domain.local:9092"
Environment="FLT_METRICS_LIST=ad:cpu{cluster='cluster01'}"
Environment="FLT_ROLLING_TRAINING_WINDOW_SIZE=11d"
Environment="FLT_RETRAINING_INTERVAL_MINUTES=30"
Environment="FLT_DEBUG_MODE=true"

I am using the app.py as it is shipped, except for a dif

[2020-05-13 13:25] 4n4nd commented on #115
got it and are you guys running the service inside a container or just directly calling the `app.py`?

[2020-05-13 13:27] DirkFries commented on #115
In my case calling the app.py via systemd

[2020-05-13 13:31] nathwani2018 commented on #115
i have build the image by using the docker file and running it inside a container. I have ran my container again yesterday with single metrics and still now it's running fine. no 500 or any exception. let's see how it can go far without any exception.

[2020-05-25 01:08] frankcgq105 opened #124 "it seems app.py can't be runned in WINDOWS OS?"
I run app.py in WINDOWS7 system,but it failed,below is the error log:

Traceback (most recent call last):
  File ".\app.py", line 171, in <module>
    server_process.start()
  File "D:\anaconda\envs\stan_env\lib\multiprocessing\process.py", line 112, in
start
    self._popen = self._Popen(self)
  File "D:\anaconda\envs\stan_env\lib\multiprocessing\context.py", line 223, in
_Popen
    return _defau

[2020-06-06 21:57] tarakshah94 opened #125 "Error while running app.py file Invalid URL 'None/api/v1/query': No schema supplied. Perhaps you meant http://None/api/v1/query?"
Hi,
I'm trying this repository on Py-3.6 but I'm getting the following error:

I'm not able to understand this error. Am I supposed to pass some values to the app.py file?

`py36) tarak@tarak-Aspire:~/Desktop/prometheus-anomaly-detector$ python app.py
2020-06-07 03:20:53,770:INFO:configuration: Metric data rolling training window size: 2 days, 23:59:59.899995
2020-06-07 03:20:53,771:INFO:configura

[2020-06-08 01:23] 4n4nd commented on #125
`Invalid URL 'None/api/v1/query': No schema su`
it looks like the prometheus url wasn't properly set

[2020-06-08 04:39] tarakshah94 commented on #125
I've given it the URL of my Prometheus client which is working absolutely fine and for now, since there's no authentication required I've commented this block:

# any headers that need to be passed while connecting to the prometheus host
    #prom_connect_headers = None
    # example oath token passed as a header
    #if os.getenv("FLT_PROM_ACCESS_TOKEN"):
        #prom_connect_headers = {

[2020-06-08 13:12] 4n4nd commented on #125
`prometheus_url = os.getenv("http://xx.xxx.192.109:9090/graph")` so this line looking for an env variable `http://xx.xxx.192.109:9090/graph`.
I think what you need is `prometheus_url = "http://xx.xxx.192.109:9090/graph"`

[2020-06-08 16:16] tarakshah94 commented on #125
This solved it. I spent a good amount of time on such a silly mistake!
Thanks for pointing that @4n4nd

[2020-06-08 16:16] #125 closed

[2020-06-11 03:56] 4n4nd commented on #124
Hey @frankcgq105 I am sorry I don't really have a windows system to test on :(

[2020-07-24 18:18] dorroddorrod opened #126 "OSError: [Errno 9] Bad file descriptor"
Hi,
This looks really nice project but i'm trying to run in locally on my mac with no luck.
After the first data training i'm getting an exception from `multiprocessing` library

[code]

[2020-07-24 18:20] 4n4nd commented on #126
hmm this is weird, do you mind trying a different python version?

[2020-07-24 18:20] dorroddorrod commented on #126
Which one ?

[2020-07-24 18:21] 4n4nd commented on #126
3.8 maybe?

[2020-07-24 18:56] dorroddorrod commented on #126
Now i'm getting different error :
[code]

[2020-07-24 21:41] 4n4nd commented on #126
Could you please enable the the debug mode by setting `FLT_DEBUG_MODE=True` and show me the log output?

[2020-07-25 06:44] dorroddorrod commented on #126
Same error :
[code]

[2020-08-01 10:04] dorroddorrod commented on #126
Any updates ?

[2020-08-03 02:55] 4n4nd commented on #126
sorry I haven't gotten to it yet :(

[2020-08-12 20:31] tarakdatanow opened #129 "ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float)."
Hi,

I'm facing this issue while using model_lstm. I've changed the "FLT_ROLLING_TRAINING_WINDOW_SIZE" to 10 days as per the script and metrics_list has two inputs.

What changes am I missing to make, any suggestions are welcome.

config.py:

[code]

[2020-08-12 20:34] tarakdatanow opened #130 "How to get multiple timestep predictions into the future"
Hi,

Which values/parameters are used to get multi-step output into the future? As per my understanding, currently I can only see 1 output value on the Tornado web app with four different vaues for each reading - yhat, yhat-lower, yhat-upper and anomaly.

How can I get multiple timesteps into future?

Example: Using last 100 days data, how can I predict for the next 10 days?

[2020-08-12 20:45] 4n4nd commented on #130
that's because these outputs are for Prometheus to scrape and the `anomaly` value can only be calculated using the current metric value

[2020-08-12 20:46] 4n4nd commented on #129
thanks for letting us know, I will check it out :+1:

[2020-08-14 11:35] tarakdatanow commented on #130
Okay, how should I get the forecasting for multiple input timeseries?
Also, how can I plot it on a dashboard just as you've shown in your examples in the Readme?

[2020-09-08 17:58] tarakdatanow opened #131 "Not getting yhat values in the output"
Hi,

I tried this repo a while ago and it was giving me some yhat values in the output, but now its not showing. The output looks something like this:

[code]

[2020-09-08 18:04] 4n4nd commented on #131
@tarakdatanow Could you check your Promtheus instance if it has the metric that you are trying to predit?

[2020-09-08 18:09] 4n4nd commented on #130
You can use Grafana to plot metrics once the predicted metrics are scraped by the Prometheus instance

[2020-09-08 18:40] tarakdatanow commented on #131
Thanks @4n4nd I was sending a wrong ID in the metrics. But now I'm facing a new issue. Can you tell what this would mean:

[code]

[2020-09-08 19:35] 4n4nd commented on #131
@tarakdatanow this is weird, Could you please try a simple metric like `up` which we know has constant metric values available?

[2020-09-10 08:50] mahmoud-mahdi opened #132 "The anomoly-detector container is restarting every 2 or 3 mins"
- Error Log

[code]

[2020-09-10 09:06] mahmoud-mahdi commented on #132
- When i gave it a simple metric like up i am getting now the following error:

[code]

[2020-09-10 15:19] 4n4nd commented on #132
Could you please enable debug mode and show me the logs?
You can do this by setting the env `FLT_DEBUG_MODE=True`

[2020-09-10 15:27] mahmoud-mahdi commented on #132
[code]

[2020-09-10 15:28] 4n4nd commented on #132
Also could you please tell me how you are building the container? so I can replicate it

[2020-09-10 16:01] mahmoud-mahdi commented on #132
- i changed it but the same issue

- it was working fine with me but after i changed the following:
[code]

- then i removed the service 'Container' and deployed it again then it is not working

[2020-09-10 16:13] 4n4nd commented on #132
This is my log
[code]

[2020-09-10 16:22] mahmoud-mahdi commented on #132
- would you please provide me wit those working configurations. deployment/stack file

[2020-09-10 16:37] 4n4nd commented on #132
I think the issue was with some older dependency versions, I am [building a new container image](https://quay.io/repository/4n4nd/prometheus-anomaly-detector?tab=builds) which you can use to run it.

[2020-09-10 16:44] 4n4nd commented on #132
I just tested the new image using this command:
`docker run --name pad -p 127.0.0.1:8080:8080 --env APP_FILE=app.py --env FLT_PROM_URL=http://demo.robustperception.io:9090 --env FLT_RETRAINING_INTERVAL_MINUTES=1 --env FLT_METRICS_LIST=up  quay.io/4n4nd/prometheus-anomaly-detector:latest`
and it worked for me

[2020-09-10 16:47] 4n4nd commented on #131
@tarakdatanow Could you try again after updating the dependencies to their latest versions?
#132 this was a similar issue

[2020-09-10 17:14] 4n4nd commented on #115
@DirkFries Are you still seeing the same issue? if not could you close this issue?

[2020-09-10 17:15] 4n4nd commented on #126
@dorroddorrod are you still seeing the same issue?

[2020-09-11 06:03] DirkFries commented on #115
Yes, unfortunaly I still have the same issue.

[2020-09-11 08:16] mahmoud-mahdi commented on #132
Thank you, it is working now.
I do not know if there are some ready Grafana Dashboards or some hints about how to visualize the metrics.

[2020-09-14 03:44] 4n4nd commented on #132
Not really, we don't have any ready dashboards.

[2020-09-14 03:47] 4n4nd commented on #115
@DirkFries Could you please try using a newly built container image (as explained [here](https://github.com/AICoE/prometheus-anomaly-detector/issues/132#issuecomment-690484020))?

[2020-09-14 19:55] goern commented on #131
/kind bug

[2020-09-15 03:52] 4n4nd commented on #131
@tarakdatanow The issue with publishing forecasts is:
1. We need the current actual value of a metric to calculate if that value is anomalous.
2. Prometheus does not support (by feature) scraping future metric values

nonetheless the metric values are predicted in this application and are stored as a timeseries dataframe named `forecast` ([here](https://github.com/AICoE/prometheus-anomaly-detector

[2020-09-16 09:10] tarakdatanow commented on #131
I'm again confused @4n4nd what is anomaly flag used for then? Is there any possibility of it becoming 1.0 depending upon the type of forecast?

[code]

Let's take for example I'm using 10 mins of retraining interval. So, I'm getting 10 mins of forecasts in the forecasts as shown above. So correct me if I'm wrong - the anomaly detection used to indicate whether there's an anomaly in this time perio

[2020-09-18 09:29] DirkFries commented on #115
Hi Anand,

I happily will try both options, but it will take me about 2 weeks until I get the time to check this.

Bye, Dirk

[2020-09-18 11:28] 4n4nd commented on #115
Thanks! I would recommend using the container option

[2020-09-28 09:51] sachincse commented on #126
@4n4nd I am facing the same issue, please guide how to resolve it.

[2020-09-28 18:21] goern commented on #126
@fridex is that something we have seen before?

/kind bug

[2020-09-29 07:36] fridex commented on #126
Haven't seen this in our projects.

[2020-09-30 13:52] 4n4nd commented on #129
@tarakdatanow I have updated some things in the tensorflow model (model_lstm), this should be fixed now. Could you please try again with the latest commits?

[2020-09-30 13:57] 4n4nd commented on #131
@tarakdatanow the anomaly detection is for checking if the real metric is acting weird (anomalous).
So for example you could use it on a metric like cpu usage, and the anomaly flag should be 1 when the cpu usage is unusual.

How we do that is, we calculate the yhat_upper and yhat_lower bounds and if the real metric value goes out of these bounds, it is considered anomalous.

[2020-09-30 14:00] 4n4nd commented on #126
@sachincse I recently updated some dependencies, can you please try again with the latest version?
I think this was an issue with one of the deps which should be fixed in a newer version.

[2020-09-30 14:02] 4n4nd commented on #124
@frankcgq105 Can you please try again with the latest commits?
If that doesn't work, I would recommend using the Dockerfile to build a container image and running it in a container.

[2020-09-30 14:03] 4n4nd commented on #132
@mahmoud-mahdi do you mind if I close this issue?

[2020-09-30 19:27] fridex commented on #126
If you could provide a listing of deps that caused issues, that would be great. We can plug it to Thoth's recommendation engine so users do not encounter these.

[2020-09-30 21:21] 4n4nd commented on #126
@fridex [this](https://github.com/AICoE/prometheus-anomaly-detector/blob/5154742415539cef0fd5fc8dc7e50a83380d7da0/Pipfile.lock) was the pip.lock
Thanks!

[2020-10-12 06:38] tarakdatanow commented on #129
Same error @4n4nd

`2020-10-12 11:56:10,435:INFO:configuration: Metric data rolling training window size: 9 days, 23:59:59.864357
2020-10-12 11:56:10,435:INFO:configuration: Model retraining interval: 10 minutes
2020-10-12 11:56:12.136092: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'libcudart.so.10.1'; dlerror: libcudart.so.10.1: cannot open shar

[2020-10-12 12:36] 4n4nd commented on #129
@tarakdatanow could you please make sure that all the dependencies were updated according to the latest pipfile?

[2020-10-12 14:32] tarakdatanow commented on #131
![Screenshot from 2020-10-07 21-57-35](https://user-images.githubusercontent.com/65151788/95758167-b635c580-0cc5-11eb-9df9-40165227845a.png)
![Screenshot from 2020-10-07 21-53-51](https://user-images.githubusercontent.com/65151788/95758174-b7ff8900-0cc5-11eb-933e-d35285fa5978.png)

I got the four values on the dashboard, however, why is my anomaly flag becoming 0 even though my yhat value is betwe

[2020-10-12 14:38] 4n4nd commented on #131
yhat should always be between yhat_upper and yhat_lower. It will be an anomaly if the actual metric value (in this case `device_metric{}`) goes out of these bounds.
Anomaly flag being 0 means there is not an anomaly. It will be 1 when the real metric value goes out of the predicted bounds.

[2020-10-12 14:42] 4n4nd commented on #132
I'll close this issue, if you need any help please feel free to open a new one.

[2020-10-12 14:42] #132 closed

[2020-10-12 14:43] 4n4nd commented on #129
Could you run `pip freeze` in your environment and post the output here?
Thanks

[2020-10-14 09:23] JeongChanwoo opened #134 "how to connect grafana"
Hello I am using pad well.
However, it is struggling to connect Grappana.
I tried connecting Prometheus on the pad in my own Grappa or Docker.
However, the port-forwarded Prometheus could not be connected in Grapana.

Is there any good solution?

[2020-10-14 10:51] tarakdatanow commented on #131
Let's take an example,
my time stamp is - 2020-09-16 09:04:57 and my retraining interval is 10 mins, so, for the next 10 mins there won't be a check for whether there's an anomaly or not and the 10 sub-readings of frequency of 1 minute each are useless as I mentioned in the previous thread?

When 10 mins are elapsed, the code will again start retraining the model and I'll get a new table with 10 v

[2020-10-14 10:53] tarakdatanow commented on #129
Got it @4n4nd it was the Tensorflow version I was using. Now I'm able to train it.

[2020-10-14 10:55] tarakdatanow commented on #131
If you'll see closely, my yhat is within the bounds but my anomaly flag is changing from 1 to 0. That's what I want to understand. How did it go from 1 to 0 while the values were always between the lower and upper bounds?

[2020-10-14 12:56] 4n4nd commented on #129
@tarakdatanow do you mind closing this issue then? thanks!

[2020-10-17 10:39] tarakdatanow commented on #131
How to plot actual metric here?

[2020-10-21 14:44] JeongChanwoo opened #135 "getpwuid error"
I configured the docker compose file and ran test_model.py. However, at the stage of starting mlflow, the result is that there is no 1001 in getpwuid(). I am curious about whether the problem has been previously reported, and if there is any reported content, I am curious about a solution.
Below is my error message.

Traceback (most recent call last):
   File "test_model.py", line 110, in <module>

[2020-10-21 14:44] #134 closed

[2020-10-21 14:44] JeongChanwoo commented on #134
I found a solution and solved it.

[2020-10-21 14:51] 4n4nd commented on #135
Can you please show me how you built the container image?

[2020-10-21 15:02] JeongChanwoo commented on #135
Here's my docker-compose configuration.
version: '3'
services:
  anoma_test:
    image : quay.io/4n4nd/prometheus-anomaly-detector:latest
    environment:
      - TZ=Asia/Seoul
      - APP_FILE=test_model.py
      - FLT_PROM_URL={my_own prometheus server}
      - FLT_RETRAINING_INTERVAL_MINUTES=20
      - FLT_METRICS_LIST=another_metric{exported_instance='some_instance',exported_job='some_job',ins

[2020-10-21 15:06] JeongChanwoo commented on #135
@4n4nd
Here's my docker-compose configuration.

version: '3'
services:
anoma_test:
image : quay.io/4n4nd/prometheus-anomaly-detector:latest
environment:
- APP_FILE=test_model.py
- FLT_PROM_URL={my_own prometheus server}
- FLT_RETRAINING_INTERVAL_MINUTES=20
- FLT_METRICS_LIST=another_metric{exported_instance='some_instance',exported_job='some_job',instance={instance},job='some_job'}; some_metric{ex

[2020-10-21 16:10] 4n4nd commented on #135
I was able to fix this issue by running the container image as user `nobody`.
you will have to add `user: nobody` in your anoma_test service.

Just for reference, I used the following command to run the test:
`docker run --name pad -p 127.0.0.1:8080:8080 --user nobody --network host --env FLT_PROM_URL=http://demo.robustperception.io:9090 --env FLT_RETRAINING_INTERVAL_MINUTES=60 --env FLT_METRICS_L

[2020-10-23 04:56] JeongChanwoo commented on #135
Thanks @4n4nd .
I was able to solve the problem by adding '--user nobody' as you described.

[2020-10-25 02:28] Carmezim commented on #92
I am getting the same error, not using conda though.

[2020-10-25 02:30] Carmezim commented on #111
People would be interested :)

[2020-10-25 07:22] Carmezim commented on #126
Running into the same issue after working around the pickle one
[code]

[2020-10-25 17:13] 4n4nd commented on #126
@Carmezim can you run `pip freeze` in your environment and paste the output here? I suspect this is because some of your dependencies are not up to date.

[2020-10-25 17:17] 4n4nd commented on #135
Awesome! I will close this issue now. If you have any more questions please feel free to open a new issue or just reopen this one.

[2020-10-25 17:17] #135 closed

[2020-10-25 17:24] 4n4nd commented on #131
It will check if the current metric (the real metric not the predicted yhat) is anomalous every time the prometheus tries to scrape PAD (here it might be 1 min). This is where it uses the predicted 10 values.

`yhat`,`yhat_upper` and `yhat_lower` are all predicted values. The upper and lower bounds are calculated using yhat. So yhat will always be between yhat_upper and yhat_lower.

[2020-10-25 17:28] 4n4nd commented on #131
your real metric is the `FLT_METRICS_LIST` parameter that you set in in your PAD configuration.

I suggest you use [Grafana](https://github.com/grafana/grafana) for Promtheus metrics visualization.

[2020-10-25 17:33] 4n4nd commented on #111
Until there is a proper deployment template the container image: `quay.io/aicoe/prometheus-anomaly-detector` can be used.

[2020-10-26 07:17] JeongChanwoo opened #137 "multivariate time-series data supporting"
Currently, PAD models and environments seem to be constructed based on a single variable.
I am wondering if there is any other way to configure multivariate time-series data model and predict.
If not, I wonder if it will reflect the configuration of functions supporting multivariate time-series data in the future.

[2020-10-26 08:42] JeongChanwoo opened #138 "PAD & ml_flow tag issue"
After changing the model to lstm in the test_model.py file, I tried to proceed. However, when checked in mlflow, the model tag of the experiment is fixed as prophet.

I have changed to the lstm model, but I am worried that the learning and predictions are not fixed as a prophet.

Even if I changed to the Fourier transform model, the prophet model tag is displayed fixedly.

[2020-10-26 14:10] 4n4nd commented on #138
@JeongChanwoo I checked the `test_model.py` ([here](https://github.com/AICoE/prometheus-anomaly-detector/blob/master/test_model.py#L114)) it looks like the model name is being imported directly from the model file. Could you check if the correct model file was imported?

Maybe if you are using a container image, make sure you rebuild rebuild the image so the changes that you make are available in

[2020-10-26 14:17] 4n4nd commented on #137
@JeongChanwoo I don't think any of our models support multi-variate time series by default.

If you just want to predict multiple time series individually, you can do so by separating the metric names using a `;` in the [Configuration](https://github.com/AICoE/prometheus-anomaly-detector#configurations).

[2020-10-26 16:53] Carmezim commented on #126
@4n4nd sure, thanks for taking a look :)

[code]

[2020-10-27 16:27] 4n4nd commented on #126
@Carmezim I couldn't replicate the issue :(
Do you mind trying a different fresh environment? I would recommend using [miniconda](https://docs.conda.io/en/latest/miniconda.html) for environments.

[2020-10-29 00:12] Carmezim commented on #126
@4n4nd no worries, thanks for trying anyway.
I will try some different envs.

[2020-11-04 19:56] nagarakesh4 commented on #126
i had this same issue, neither #92 nor solutions given here worked and so instead of running the app.py locally, i deployed the app using docker image and it worked fine. Also while using docker image and if you are unable to access the /metrics endpoint then probably it might be because of the host network mode flag, remove the --network host flag and it should start showing up at /metrics.

[2020-11-08 12:03] darox commented on #131
It seems working on my side, but I can't find the predicted value in prometheus. My current output is:
[code]

[2020-11-16 21:41] ndragon798 opened #139 "Issue using docker container"
Just tried spinning this up using the docker image provided and it crashes right away when turning it on.
[code]

My compose file
[code]

I've tried this on two different hosts a windows and a linux host. Any suggestions?

[2020-11-30 16:56] ndragon798 commented on #139
I saw this got looked at if you need anymore information let me know.

[2020-11-30 17:07] 4n4nd commented on #139
thanks! I just tested this and was able to reproduce the issue.

[2020-12-02 22:07] dks0408070 commented on #126
I encounter this same issue. Have started new venv, ran pip requirements -r requirements.txt, and launch the app to get Bad file description. Docker container doesn't return error. Previous comment suggests out of date dependencies; is it possible to get a list of depenency versions, as requirements.txt is versionless,

[2020-12-02 22:53] 4n4nd commented on #139
@ndragon798 I don't know what's going on here.
I tried running the same container image using docker and podman (not docker-compose)
[code]
and it worked fine but for some reason it does not work with docker-compose :confused:

[2020-12-02 22:56] 4n4nd commented on #126
@dks0408070 the [pipfile.lock](https://github.com/AICoE/prometheus-anomaly-detector/blob/master/Pipfile.lock) should have all the required versions.

[2020-12-03 21:32] fridex commented on #126
Sorry, I'm a little bit of context here. Do you have a specific package that is causing these issues? Or any combination of packages? It might be a good observation for Thoth to give recommendations on this.

[2020-12-03 21:38] dks0408070 commented on #126
@fridex I have yet to determine root cause, although I believe that may be the case. I am now verifying dependency versions in my local venv vs. pipfile.lock. I've only had success running the dockerized application thus far.

[2020-12-03 21:45] fridex commented on #126
Hm... the first backtrace shows an issue in tornado, but its version did not change in the linked lock files. Subsequent backtraces show a different issue.

Cool! Please let us know if you spot the troublemaker.

[2020-12-07 06:53] JeongChanwoo opened #140 "TypeError: can't pickle _thread.RLock objects"
I tried transforming it by assigning a model to a class variable and predicting the PAD dynamically.

Since the prophet model file is in the form of storing the model in a class variable, I expected tensorflow to be possible as well.

The model I assigned is a tensorflow based model.

In the model Python file, i saved the model trained in the train process in the class variable model under class.

[2020-12-07 16:35] aroundthecode commented on #139
Same issue stating within kubernetes:

[code]

[code]

[2020-12-07 18:01] aroundthecode commented on #139
Solved on my side, I was providing several metrics at once with wrong separator

[code]
( "," instead of ";")

Once fixed the pod started properly

[2020-12-21 03:58] Carmezim commented on #110
I've got the anomaly detector running on K8s in the same namespace as the prometheus instance and am able to get a successful response calling `wget localhost:8000/metrics` from within the anomaly detector, but the prometheus instance cannot read from it getting `connection refused`.
[code]

The anomaly detector is on:
[code]
Wondering if there might be anything else I'm missing. Thank you.

[2020-12-21 18:25] 4n4nd commented on #110
@Carmezim i think this might be an issue in the way PAD is deployed in your k8s env.
Can you post your deployment manifest? I think for some reason the port 8080 for your pod is not being forwarded.

[2021-01-14 19:19] Carmezim commented on #110
@4n4nd Hey - sorry for the delay on that. I was away.
Thank you again for getting back to me and yeah, you're probably right, here's how it's set:
[code]

[2021-03-12 09:38] dthpulse opened #142 "port at app.listen(8080) should be possible to define in variable"
Right now it's not possible to run more containers on one host, because port is defined in the code `app.listen(8080)` and containers failing due to port already in use.
Would be good if port number will be taken from env variables also.

[2021-03-12 13:17] #142 closed

[2021-05-03 19:02] Carmezim opened #143 "Support Skipping Bad Metrics Queries Rather Crashing PAD"
Thank you for the great work and very useful model.

I was wondering it could be interesting to support handling some bad or faulty queries that cause the app to crash.

E.g.:
[code]
or

[code]

etc.

The whole app crashes and restarts training from the beginning.

[2021-05-03 20:22] Carmezim commented on #143
This should be possible to handle through `PrometheusConnect` `retry` param (`urllib3.util.Retry)`

[2021-05-10 15:36] saswat0 opened #144 "500: Internal Server Error"
I was trying to run the application by running the app.py file for my kubernetes cluster
`python app.py`

Configuration:

- prometheus_url = 'http://thanos.xxxxxx'
- metrics_list = `["container_cpu_usage_seconds_total{kube_cluster=~'k8s2.xxxxx',namespace='xxx',pod=~'xxxxx-.*'}"]`
- rolling_training_window_size = parse_timedelta("now", "1d")
- retraining_interval_minutes = 15

The metric is pretty

[2021-05-10 16:30] 4n4nd commented on #144
[This](https://github.com/prometheus/client_python/blob/master/prometheus_client/metrics.py#L160) is where the error is being raised at.
@saswat0 can you try this again without the regex identifiers? I have never seen this issue before.
Does the same issue happen for different metrics as well?

[2021-05-10 17:26] saswat0 commented on #144
@4n4nd I tried using numOfRequests as metric and got this output at port 8080

# TYPE python_gc_objects_collected_total counter
python_gc_objects_collected_total{generation="0"} 9444.0
python_gc_objects_collected_total{generation="1"} 1063.0
python_gc_objects_collected_total{generation="2"} 21.0
# HELP python_gc_objects_uncollectable_total Uncollectable object found during GC
# TYPE python_gc_obje

[2021-05-11 14:48] 4n4nd commented on #144
@saswat0 could you please show me all the labels/values for the metric that break it?

[2021-05-11 15:05] saswat0 commented on #144
I'm sorry, I didn't get you there.
Should I list down all the metrics for which this is failing?

[2021-05-11 15:27] saswat0 commented on #144
Any pointers as to how I could try out all the label_metrics for a particular metric
Currently I'm not passing any particular label_metric to the config.

This is how my metrics_list looks like in different cases:

- ["container_cpu_usage_seconds_total"]
- ["numOfRequests"]
- ["http_requests_total"]

[2021-05-11 16:05] saswat0 commented on #144
For container_cpu_usage_seconds_total

For numOfRequests

http_requests_total

[2021-05-11 16:09] 4n4nd commented on #144
Now can you please try using these "full" queries in your anomaly detector config?

[2021-05-11 16:19] saswat0 commented on #144
When I do this, it gets nothing to train on

Terminal logs:

2021-05-11 16:15:46,498:INFO:configuration: Metric data rolling training window size: 23:59:59.970879
2021-05-11 16:15:46,498:INFO:configuration: Model retraining interval: 15 minutes
2021-05-11 16:15:46,646:DEBUG:urllib3.connectionpool: Starting new HTTP connection (1): k8s-2.prometheus.xxxxxx:9090
2021-05-11 16:15:46,663:DEBUG:urllib3.

[2021-05-11 16:23] saswat0 commented on #144
Also, I had one concern. This full metric will point to a single pod. How can I apply it over all the pods/services? Do I need to scrape all the metrics and then append each of them to the `metrics_list` list? Would that not be invalid? (Assuming that the pod could've been dead at some point)

[2021-05-11 16:36] 4n4nd commented on #144
I think what the issue here is that you have 2 (or more) different metrics which don't have a unique label configuration,
example: `metric_1{a=1, b=2}` and `metric_1{a=1, b=2, c=3}`,
and that's why I wanted your query to be as specific so that only unique time-series are collected.

[2021-05-11 16:48] saswat0 commented on #144
So I need to set these label metrics to some keys that will be present in all the metrics, right?

[2021-05-11 16:51] 4n4nd commented on #144
Yes, exactly

[2021-05-11 17:02] 4n4nd commented on #144
Yep that is the expected output.

So the data exposed here is in format that is scrape-able by prometheus, so you will need to configure a prometheus instance to scrape this endpoint and store data. Once you do that, you can visualize the data better in the prometheus console or you can add grafana for it.

[2021-05-12 04:28] saswat0 commented on #144
Okay, got you 👍
Now for assigning metrics, should I assign metric_1{a=1, b=2} or metric_1{a=1, b=2, c=3}? If I assign the second one, will I not miss out on those that do not have 'c' label?

[2021-05-12 16:08] 4n4nd commented on #144
that is a good question, but I think you can have specific queries that will look for an empty metric label.
Example: `metric_1{c=""}` that will check for empty values of `c`

[2021-05-12 16:21] saswat0 commented on #144
Alright then. I'll look into this
I'm getting a bit stuck in the testing (prediction) part. My y_hat is nearly equal to the actual value but is diverging at a high pace. Also, it is well beyond the interval of [yhat_lower to yhat_upper]. I'm currently training on 30 days data and am using this as my metric `nginx_ingress_controller_request_size_sum{controller_class="top-nginx-public",status=~"5[0-

[2021-05-13 15:25] 4n4nd commented on #144
@saswat0 we are using facebook's [prophet model](https://github.com/facebook/prophet) by default for metric prediction. You can check their [repo](https://github.com/facebook/prophet) to look into how it works under the hood.

[2021-05-13 15:45] 4n4nd opened #146 "Update prophet library version to `1.0.1`"
`fbprophet` was updated to `prophet` in pypi (https://pypi.org/project/prophet/)

[2021-05-13 17:28] saswat0 commented on #144
Sure. I'll look into that
The '_prophet' suffix is defined [here](https://github.com/AICoE/prometheus-anomaly-detector/blob/20dc284b86b0b6e0cb9990679defe1735d8fd9f3/app.py#L50). What insight does it give us?

Here are the plots that I got today. The model behaves awkwardly with my provided data. Would you be able to provide me some pointers as to how I can debug it?
<img width="1080" alt="Screensh

[2021-05-14 05:46] saswat0 commented on #112
@4n4nd
This is my current metric: `sum(rate(container_cpu_usage_seconds_total{container="filebeat"}[5m]))`
Upon running this query in prometheus, I get:
<div class="form-row" style="box-sizing: border-box; display: flex; flex-wrap: wrap; margin-right: -5px; margin-left: -5px; color: rgb(33, 37, 41); font-family: -apple-system, system-ui, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Ar

[2021-05-17 08:12] Stephan3555 commented on #115
Hey guys,
running in the same error:

HTTPServerRequest(protocol='http', host='172.20.46.117:8080', method='GET', uri='/metrics', version='HTTP/1.1', remote_ip='172.20.60.124')
Traceback (most recent call last):
  File "/opt/conda/envs/prophet-env/lib/python3.8/site-packages/tornado/web.py", line 1704, in _execute
    result = await result
  File "app.py", line 75, in get
    pc.get_current_metric

[2021-06-10 12:08] zanghao2 opened #148 "Can not choose training model and build docker image error"
I found that the project provides three training models but I can not choose which model to use. When I change model I must rebuild the image. I think it is necessary to provide access to the three models.

I use docker to build image, when I run my build image I found tensorflow not found error.

[2021-06-29 18:02] kiefersmith commented on #139
I've also run into this.

[2021-06-30 19:25] sesheta commented on #19
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-30 19:25] sesheta commented on #23
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-30 19:25] sesheta commented on #41
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-30 22:27] sesheta commented on #43
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-30 22:27] sesheta commented on #49
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-30 22:27] sesheta commented on #18
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-01 16:30] sesheta commented on #34
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 07:32] sesheta commented on #130
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 10:36] sesheta commented on #124
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 10:36] sesheta commented on #129
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 10:36] sesheta commented on #138
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 10:36] sesheta commented on #137
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 13:36] sesheta commented on #131
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 13:36] sesheta commented on #126
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 13:36] sesheta commented on #140
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 16:37] sesheta commented on #111
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 16:37] sesheta commented on #11
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 16:37] sesheta commented on #114
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 16:37] sesheta commented on #2
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-02 16:37] sesheta commented on #9
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-10 13:19] tiagokrebs opened #151 "TypeError Exception"
Hi.

I'm having some trouble figuring out the motive behind one TypeError exception that apparently happens during the request on the metrics endpoint. If this is not the right place for this please let me know.

My container is created like this:
[code]

As you can see I have two metrics with many labels and two with just one. Also, both metric types have different amounts of points (rate 1m and

[2021-07-12 14:37] 4n4nd commented on #151
@tiagokrebs a few points here.
1. This error occurs when two different time series are tried to combine together ([source](https://github.com/AICoE/prometheus-api-client-python/blob/master/prometheus_api_client/metric.py#L173))
2. The scraping interval of 15 seconds is two low since by default the Prophet model is only predicting values for every minute.
3. Could you please run the container again

[2021-07-12 23:57] tiagokrebs commented on #151
Thanks @4n4nd.

Ok, I should lower it to 1 minute next then.

Here are the logs with debug mode on.
[code]

Sure thing, is this below.
[code]

[2021-07-14 21:22] #111 closed

[2021-07-16 00:32] vlam1 opened #153 "AttributeError: 'StanModel' object has no attribute 'fit_class'"
Hi,

I encountered this error after our PAD container was restarted, and wondering if I can get some help resolving it. This seems like a dependency issue that was introduced recently in the `quay.io/aicoe/prometheus-anomaly-detector:latest` image. There are other PAD containers that are up and running fine for 9 days now with the same configs, only the restarted containers are going into crashloo

[2021-07-16 19:46] 4n4nd commented on #153
@vlam1 could you please try using `quay.io/aicoe/prometheus-anomaly-detector:ubi` in one of your containers to see if it works?
I was able to test it, just want one more person to try before I update it in the repo.

[2021-07-16 20:08] 4n4nd commented on #146
this should be updated in https://github.com/AICoE/prometheus-anomaly-detector/pull/152

[2021-07-16 20:08] #146 closed

[2021-07-16 20:10] HumairAK opened #155 "Add ability to ignore labels"
The way I understand it, PAD will need to be restarted whenever a label updates. This is an issue for when dealing with metrics that contain pod names as a label for example. If the pod has a generated suffix, a new one is generated upon each restart, thus requiring pad to be restarted, and being unable to leverage the old pod's historical data (iiuc).

It would be nice if I could pass a flag or f

[2021-07-16 20:12] 4n4nd commented on #155
This is a great suggestion.
 I think we could add a new flag something like
`FLT_IGNORE_LABEL_CHANGES="pod_name, pod_ip"` and it would ignore the changes in those specific labels.

[2021-07-16 20:15] vlam1 commented on #153
@4n4nd yup, I just confirmed the update fixed the issue.

[2021-07-16 20:16] 4n4nd commented on #153
Awesome. Thanks!

[2021-07-16 20:16] #153 closed

[2021-07-16 20:17] vlam1 commented on #153
Thank you @4n4nd! 😃

[2021-07-18 20:02] chauhankaranraj opened #157 "Pipenv install fails"
**Describe the bug**
Running `pipenv install` throws a `ResolutionFailure` error

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/AICoE/prometheus-anomaly-detector.git
2. cd prometheus-anomaly-detector
3. pipenv install
4. See error

**Expected behavior**
Dependencies get installed correctly

**Screenshots**
![Screenshot from 2021-07-18 16-00-17](https://user-imag

[2021-07-18 20:29] chauhankaranraj commented on #157
@4n4nd the error seems to be coming from tensorflow 2.5.0, so I tried setting tensorflow version < 2.5 and fixed it

[2021-07-19 17:24] #157 closed

[2021-08-29 20:31] arjunshenoymec commented on #148
Same here (https://pastebin.com/J2ctTDEA).

@4n4nd are we missing any configs/steps here?

[2021-08-30 02:55] chiaminchuang commented on #130
Hello @tarakdatanow, I have the same issue. Do you solve this problem? Thanks in advance.

Hello @4n4nd ,
In the source code, the Prometheus instance scrapes one prediction whose timestamp is closest to the current timestamp. We cannot plot the metrics on the Grafana dashboard.
How do we make the Prometheus instance scrape the future predictions not only the most recent one?

Thank you for your gr

[2021-09-03 11:19] petr-r94 opened #160 "ENV 'FLT_METRICS_LIST' and timestamps looks incorrectly parsed"
Hello!

I have conducted research how pad is handling configuration. So, I deployed pad as Container (podman) and  also in OpenShift with different methods of filling environment variables and would like to share my two big concerns. `Concern 1` Affected both deploy models and `Concern 2` only in OpenShift. I think this is a bug, but if it is meant to be normally, please clarify. Hope it helps to

[2021-09-04 21:17] Carmezim opened #161 "Pod Constantly Crashes And Restarts Silently (In DEBUG)"
I seem to not be able to get the Tornado serving the endpoints. I am able to train the data and see the results though.

It seems the pod is crashing and restarting each few minutes without any logs in DEBUG mode so it never finishes training and get to start the server.

This is the service
[code]

The deployment ports:
[code]

Running master.

[2021-09-08 17:30] Carmezim commented on #161
That was given under-provisioning the deployment.

[2021-09-08 17:30] #161 closed

[2021-09-10 15:21] Carmezim opened #163 "PAD Crashes Every Ten Minutes"
I've over provisioned the deployment running on a single metric over 5 thousand data points in a 1d period.

It does not matter though what resources I configure, parallelism etc the pod crashes and restarts every 10 minutes with exit code 137 (OOMkill).

[2021-09-12 01:07] #163 closed

[2021-09-13 17:29] saswat0 opened #165 "Perform RCA immediately after anomaly detection"
Currently the model monitors the behaviour of application/service level metrics and flags them as anomalous. The issue resolution is still left up to the engineers and time taken for debugging might increase the outage duration

Should we add RCA of the anomaly on the fly as soon as it is detected? This will probably help in pinpointing the cause and allow faster repairs

@4n4nd Suggestions?

[2021-09-13 17:53] 4n4nd commented on #165
@saswat0 could you please give us more information on how the implementation for this would work?

cc @chauhankaranraj @hemajv

[2021-09-13 18:16] saswat0 commented on #165
An anomaly is usually triggered when either the application, its downstream services (dependent apps) or the runtime environment crashes.
On the event of an anomaly, we could check for inconsistency in the metrics of the affected application, all other downstream services or metrics from the deployed cluster/node and figure out which of them was responsible for the outage

Say for example, we have

[2021-10-11 17:36] sesheta commented on #19
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-11 17:36] sesheta commented on #23
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-11 17:36] sesheta commented on #41
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-14 06:00] sesheta commented on #137
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-14 06:00] sesheta commented on #124
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-14 09:00] sesheta commented on #140
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-14 12:00] sesheta commented on #11
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-14 12:00] sesheta commented on #9
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-14 12:00] sesheta commented on #2
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-14 12:00] sesheta commented on #114
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-14 15:31] ahurtaud opened #166 "[feature request] Persistence across restarts?"
Hello,
We are planning to run PAD within a kubernetes pod.
However we would like to be able to keep the learning across pod deletion/restarts (which is something very common in kubernetes).

I think this is not possible today and everything is recomputed from scratch on every restarts.

Would it be possible to add a persistence within a file or a database so that a restart of PAD wont lose the tra

[2021-10-15 00:00] sesheta commented on #144
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-16 18:01] sesheta commented on #155
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-20 20:28] Sindvero opened #167 "Out Of Memory issue on k8s"
Hello everyone,

I'm trying to run the anomaly detection on k8s, but at some point, I get a OOM error from the node where I run my anomaly pod.

Here's my configuration file:
[code]

I'm not sure how to change the confg to avoid having OOM on the node. Does anyone get this issue before too? Should put the retraining interval bigger?

Thanks

[2021-10-26 20:00] #167 closed, assigned to nobody

[2021-11-01 18:07] sesheta commented on #112
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-10 18:09] sesheta commented on #19
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-10 18:09] sesheta commented on #23
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-10 18:09] sesheta commented on #41
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-10 18:09] sesheta commented on #49
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-10 18:09] sesheta commented on #18
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-10 18:09] #19 closed

[2021-11-10 18:09] sesheta commented on #43
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-10 18:09] sesheta commented on #19
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/19#issuecomment-965606850):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-11-10 18:09] sesheta commented on #18
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/18#issuecomment-965606913):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-11-10 18:09] #18 closed

[2021-11-10 18:09] #41 closed

[2021-11-10 18:09] #23 closed

[2021-11-10 18:09] sesheta commented on #41
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/41#issuecomment-965606889):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-11-10 18:09] #49 closed

[2021-11-10 18:09] #43 closed

[2021-11-10 18:09] sesheta commented on #49
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/49#issuecomment-965606899):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-11-10 18:09] sesheta commented on #23
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/23#issuecomment-965606877):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-11-10 18:09] sesheta commented on #43
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/43#issuecomment-965606930):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-11-11 12:09] sesheta commented on #34
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-11 12:09] #34 closed

[2021-11-11 12:09] sesheta commented on #34
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/34#issuecomment-966251110):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-11-13 06:10] sesheta commented on #129
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 06:10] sesheta commented on #138
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 06:10] sesheta commented on #124
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 06:10] sesheta commented on #137
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 06:11] #124 closed

[2021-11-13 06:11] #137 closed

[2021-11-13 06:11] #138 closed

[2021-11-13 06:11] #129 closed

[2021-11-13 06:11] sesheta commented on #137
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/137#issuecomment-967789787):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-13 06:11] sesheta commented on #124
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/124#issuecomment-967789789):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-13 06:11] sesheta commented on #138
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/138#issuecomment-967789786):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-13 06:11] sesheta commented on #129
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/129#issuecomment-967789785):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-13 09:10] sesheta commented on #131
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 09:10] sesheta commented on #126
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 09:10] sesheta commented on #140
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 09:11] #140 closed

[2021-11-13 09:11] #126 closed

[2021-11-13 09:11] #131 closed

[2021-11-13 09:11] sesheta commented on #140
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/140#issuecomment-967884979):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-13 09:11] sesheta commented on #126
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/126#issuecomment-967884961):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-13 09:11] sesheta commented on #131
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/131#issuecomment-967884919):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-13 12:10] sesheta commented on #11
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 12:10] sesheta commented on #9
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 12:10] sesheta commented on #114
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 12:10] sesheta commented on #2
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-13 12:11] #11 closed

[2021-11-13 12:11] #9 closed

[2021-11-13 12:11] #114 closed

[2021-11-13 12:11] #2 closed

[2021-11-13 12:11] sesheta commented on #9
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/9#issuecomment-968058596):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-11-13 12:11] sesheta commented on #11
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/11#issuecomment-968058595):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2021-11-13 12:11] sesheta commented on #114
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/114#issuecomment-968058604):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-13 12:11] sesheta commented on #2
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/2#issuecomment-968058607):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2021-11-13 21:11] sesheta commented on #143
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-14 00:11] sesheta commented on #130
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-11-14 00:11] #130 closed

[2021-11-14 00:11] sesheta commented on #130
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/130#issuecomment-968179091):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-11-14 00:12] sesheta commented on #115
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-14 00:12] sesheta commented on #144
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-14 21:12] sesheta commented on #139
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 15:12] sesheta commented on #151
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 18:12] sesheta commented on #155
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-16 13:25] latelan commented on #92
@Carmezim I got the same error, how you resolve the problem

[2021-11-27 21:20] sesheta commented on #148
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-28 00:17] sesheta commented on #148
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-29 17:25] Cesuuur opened #168 "Problems integrating the image (unknown error)"
Hello I'm having trouble integrating the image into my platform (Kubernetes). I have been doing a lot of tests and I have not drawn any conclusions. I'm pretty sure the error has to do with the labeling of my metrics.

At first I had the same error that appears in this issue [500: Internal Server Error](https://github.com/AICoE/prometheus-anomaly-detector/issues/144) and that is due to the need fo

[2021-12-01 18:17] sesheta commented on #112
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-12-02 15:18] sesheta commented on #160
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-03 14:39] floppy84 opened #169 "Can't display forcast on Grafana and ho to adjust Yhat upper an lower."
Hi all,

Thanks for your great work about this tool. I try  it since a month, and i really appreciate it.

My issue is probably not an issue, but i try to understand how to do this.

On my on premise grafana, i try to display the forecast value provided by prophet metrics:

<img width="490" alt="image" src="https://user-images.githubusercontent.com/3499449/144618819-f510a5c0-4307-49d0-9839-3a30a57

[2021-12-10 13:10] Cesuuur commented on #168
In case you ever come back here ... I have seen an error that has to do with labels. In app.py:

[code]
Here you initialize the Gauge, and you pass a label list for initialize the class, but there is one error, you make a Gauge class for each metric, but you only store the set of labels for one of the series. This end in the 500: internal Error that I commented above when Prometheus does HTTP Get.

[2021-12-10 14:20] saswat0 commented on #169
The issue here is not with Grafana, but with prometheus db. Prometheus cannot push metrics of the future (predicted metrics) for grafana to scrape from. The ML plugin that you're referring to runs inference on grafana's end (after getting the metrics from prometheus). If you wish to see these predicted values, then some other method of posting will have to adopted
I might be wrong. The maintainers

[2021-12-12 18:19] sesheta commented on #165
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-14 00:17] sesheta commented on #143
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-14 00:18] sesheta commented on #144
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-14 00:18] #143 closed

[2021-12-14 00:18] sesheta commented on #143
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/143#issuecomment-993030020):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-12-14 00:18] #144 closed

[2021-12-14 00:18] sesheta commented on #144
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/144#issuecomment-993030065):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-12-14 03:17] sesheta commented on #115
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-14 03:18] #115 closed

[2021-12-14 03:18] sesheta commented on #115
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/115#issuecomment-993118462):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-12-14 09:47] floppy84 commented on #169
Hi, ok well i use victoria db as time series database and grafana is connected to it. So i am not collecting data on prometheus TSDB for display data on grafana. Is there an easy way for told to victoriadb to allow to store predicted value in futur ? regards

[2021-12-14 21:18] #139 closed

[2021-12-14 21:18] sesheta commented on #139
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/139#issuecomment-994021315):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-12-15 15:18] sesheta commented on #151
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-15 15:18] #151 closed

[2021-12-15 15:18] sesheta commented on #151
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/151#issuecomment-994892544):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-12-15 18:18] sesheta commented on #155
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-15 18:18] #155 closed

[2021-12-15 18:18] sesheta commented on #155
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/155#issuecomment-995046390):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuberne

[2021-12-25 08:57] laburnumT opened #171 "App and retraining never start"
Hi all,

I attempted to use the prometheus anomaly detector to detect anomalies in my metrics. I set it up to track just one metric (quite a few targets though). However both times I ran the program it seemed to train just fine, but it seems to hang after finishing the initial training run. I don't get the message "Initializing Tornado Web App", nor the "Will retrain model every x minutes".  Nothi

[2021-12-28 00:22] sesheta commented on #148
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-12-31 18:21] sesheta commented on #112
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-31 18:21] sesheta commented on #112
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/112#issuecomment-1003431216):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-12-31 18:21] #112 closed

[2022-01-01 15:22] sesheta commented on #160
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-07 08:15] afirth commented on #160
/remove-lifecycle rotten

[2022-01-11 18:23] sesheta commented on #165
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-12 18:24] sesheta commented on #166
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-19 13:56] saswat0 commented on #165
/remove-lifecycle rotten

[2022-01-27 00:23] sesheta commented on #148
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-27 00:23] #148 closed

[2022-01-27 00:23] sesheta commented on #148
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/148#issuecomment-1022726626):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-02-11 18:26] sesheta commented on #166
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-10 16:09] sesheta commented on #168
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-13 20:05] sesheta commented on #166
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-13 20:05] #166 closed

[2022-03-13 20:05] sesheta commented on #166
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/166#issuecomment-1066172393):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-03-25 10:10] sesheta commented on #171
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-31 03:22] ieasydevops commented on #92
![image](https://user-images.githubusercontent.com/4316534/160969813-729d176a-a5eb-4705-b200-017156ab3f7c.png)

I am getting the same error

[2022-04-07 10:11] sesheta commented on #160
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-09 17:28] sesheta commented on #168
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-11 03:39] lynBIT opened #178 "why do we use Tornado?"
hello,everyone.I'm a green hand。I want to konw.
Why tornado was used instead of using Prometheus's Python client to specify listening ports

[2022-04-13 11:29] sesheta commented on #169
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-19 16:13] sesheta commented on #165
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-20 06:24] #178 closed

[2022-04-20 06:25] lynBIT commented on #178
already solved

[2022-04-22 06:50] lynBIT opened #179 "The value predicted by Prophet did not change much"
The value predicted by Prophet did not change much

Here are my variable settings：
FLT_PROM_URL = http://xx:xx:xx:xx:30090
FLT_PROM_ACCESS_TOKEN = xxxxx;
FLT_METRICS_LIST = node_load1{instance='192.29.3.11:9100'};
FLT_RETRAINING_INTERVAL_MINUTES = 15;
FLT_ROLLING_TRAINING_WINDOW_SIZE = 20d;
FLT_PARALLELISM= 2;

I have deployed the anomaly detection service on k8s, and my prometheus can also discov

[2022-05-04 12:04] saswat0 commented on #165
/remove-lifecycle stale

[2022-05-07 11:31] sesheta commented on #160
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-09 20:21] sesheta commented on #168
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-09 20:21] #168 closed

[2022-05-09 20:21] sesheta commented on #168
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/168#issuecomment-1121539326):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-05-11 08:06] LOTFIChaimaa commented on #179
Please, can we have a call to discuss about the set up of the environment

[2022-05-11 08:10] lynBIT commented on #179
That is to say, I have the above problem because of the wrong environment configuration?

[2022-05-11 08:11] lynBIT commented on #179
That is to say, I have the above problem because of the wrong environment configuration?

[2022-05-11 12:10] LOTFIChaimaa commented on #179
not really, I just want to ask about something in the environment configuration, if you have a lit bit of time

[2022-05-12 01:08] lynBIT commented on #179
You can ask here and I will try to help you if I know

[2022-05-13 14:12] sesheta commented on #169
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-14 22:45] LOTFIChaimaa commented on #179
like they said that we have to launch the app with python app.py and we can use make run_app, while these two files are not in the repository so!!??

[2022-06-05 18:09] adamsavage opened #183 "multiple containers on same host"
Anyway of running more than one container instance on a host? i've tried changing the ports around but have not had any luck yet. This would help with the little project i'm working on for running anomaly detection on vsphere metrics.

I was able to turn the image into a dockerfile to be used with docker-compose and it works under port 8080 but no other pots.

Thank you!

[2022-06-05 21:51] adamsavage commented on #142
Good evening @dthpulse - how did you resolve this?

[2022-06-06 12:39] #160 closed

[2022-06-06 12:39] sesheta commented on #160
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/160#issuecomment-1147403199):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-06-23 13:02] sesheta commented on #171
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-18 10:29] akunafin opened #185 "pad doesn't provide any metrics"
I've deployed the container into the k8s cluster. In the logs of the pod I see that trainings run successfully. However, I can't get any metrics from the pod. After connecting to the pod directly I've identified that pod is not listening on port 8080 and thus refuses all connections to it.
I've tried to deploy it locally on my laptop and getting the same result. Can't connect to the pod on port 80

[2022-07-23 15:51] sesheta commented on #171
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-27 20:24] m0sh1x2 opened #186 "Are there any other requirements/configs in order to get the Fourier metrics?"
Hello,

I am trying to get the fourier metrics but at the moment only the Prophet ones are being generated.

Are there any other configurations that I have to set or any way to debug this?

Thanks,

Here are some example output metrics on a test container:

[code]

[2022-07-29 10:13] m0sh1x2 commented on #186
I started learning python and ML, hope I can fix it soon.

Any help will be of great value in finding on how to make the Fourier metrics to start working

[2022-08-02 13:05] sesheta commented on #165
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-13 01:06] sesheta commented on #179
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-22 18:47] sesheta commented on #171
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-22 18:47] sesheta commented on #171
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/171#issuecomment-1222775882):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-08-22 18:47] #171 closed

[2022-08-31 23:44] psujit775 opened #187 "IndexError: list index out of range"
The model is trained and it starts to expose metrics but after some time it starts to give 500: Internal Server Error.

Using official docker image: quay.io/aicoe/prometheus-anomaly-detector:latest

**Logs:**
[code]

[2022-09-03 22:09] sesheta commented on #183
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-12 04:00] sesheta commented on #179
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-10-01 17:06] sesheta commented on #165
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-01 17:07] #165 closed

[2022-10-01 17:07] sesheta commented on #165
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/165#issuecomment-1264424112):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-10-03 23:07] sesheta commented on #183
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-10-12 05:09] sesheta commented on #179
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-12 05:09] #179 closed

[2022-10-12 05:09] sesheta commented on #179
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/179#issuecomment-1275596309):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-10-16 11:11] sesheta commented on #185
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-27 11:16] sesheta commented on #186
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-02 23:16] sesheta commented on #183
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-11-02 23:16] #183 closed

[2022-11-02 23:16] sesheta commented on #183
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/prometheus-anomaly-detector/issues/183#issuecomment-1301481542):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-11-15 11:20] sesheta commented on #185
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-26 11:23] sesheta commented on #186
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten